[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "chef/cookbooks/msp430"]
	path = chef/cookbooks/msp430
	url = git://github.com/h5b/chef-msp430.git
